<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>GG | Relatório Mensal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header class="container">
        <div class="logo">
            Finance Manager
        </div>
        <nav>
            <a href="{{ url_for('dashboard.index') }}">Início</a>
            <a href="{{ url_for('dashboard.report') }}">Relatório Mensal</a>
            <a href="{{ url_for('categories.index') }}">Categorias</a>
            <a href="{{ url_for('budgets.index') }}">Orçamentos</a>
        </nav>
    </header>
  <div class="container">
    <h1>Relatório Mensal</h1>
    <div class="chart-card">
        {% if chart_data %}
        <img src="data:image/png;base64,{{ chart_data }}" alt="Gráfico mensal" />
        {% else %}
        <p>Ainda não há transações para gerar relatório.</p>
        {% endif %}
    </div>
  </div>
  <footer class="container">
    &copy; 2025 teu-usuario • Projeto Open Source
</footer>
</body>
</html>